body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.create-table {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

modal {
    display: none;
    position: absolute;
    left: 50%;
}